<section class="cd-section">
	<a class="cd-bouncy-nav-trigger" href="#0">Browse categories</a>
</section> <!-- .cd-section -->

<div class="cd-bouncy-nav-modal">
	<nav>
		<ul class="cd-bouncy-nav">
			<li><a href="#0">Category 1</a></li>
			<li><a href="#0">Category 2</a></li>
			<li><a href="#0">Category 3</a></li>
			<li><a href="#0">Category 4</a></li>
			<li><a href="#0">Category 5</a></li>
			<li><a href="#0">Category 6</a></li>
		</ul>
	</nav>

	<a href="#0" class="cd-close">Close modal</a>
</div>
<div class="hammenu">

</div>
