<nav class="deskmenu">
  <ul>
    <li class="animated fadeInDown"><a href="index.html">Home</a></li>
    <li class="animated fadeInDown"><a href="menu.html">Menu</a></li>
    <li><img src="public/img/ejbakery.png" align="middle" alt="EJBakery" class="logo animated fadeInDown"></li>
    <li class="animated fadeInDown"><a href="about.html">About</a></li>
    <li class="animated fadeInDown"><a href="contact.html">Contact</a></li>
  </ul>
</nav>

<div class="hammenu">
<header>
  <button class="hamburger">&#9776;</button>
  <button class="cross">&#735;</button>
</header>

<div class="menu">
  <ul>
    <a href="#"><li>LINK ONE</li></a>
    <a href="#"><li>LINK TWO</li></a>
    <a href="#"><li>LINK THREE</li></a>
    <a href="#"><li>LINK FOUR</li></a>
    <a href="#"><li>LINK FIVE</li></a>
  </ul>
</div>
</div>
