@import url(https://fonts.googleapis.com/css?family=Rochester);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300);
@import url(https://fonts.googleapis.com/css?family=Kaushan+Script);
body {
  background-color: #f4f0e7;
  background-repeat: repeat;
  font-family: "Raleway";
}

nav {
  margin: 0 auto;
  height: 75px;
  display: inline;
  text-align: center;
}

li {
  margin: 8px;
  list-style: none;
  display: inline-block;
}

li a {
  color: #402203;
  text-decoration: none;
  padding: 8px;
  position: relative;
  text-align: center;
  padding-bottom: 4px;
  font-family: "Kaushan Script";
  font-size: 18px;
}

li a:hover {
  color: #a78d2f;
}

li a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #a78d2f;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

li a:hover::before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

hr.style {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.75), transparent);
}

h1.head {
  font-family: "Kaushan Script";
  padding-top: 8px;
}

h1.deals {
  text-align: center;
  color: #ffffff;
}

h1.email {
  text-align: center;
  font-family: "Kaushan Script";
  font-size: 60px;
}

li.deals {
  font-size: 16px;
}

p.deals {
  padding: 0px;
}

.dealpic {
  float: right;
  margin-right: 5px;
  display: inline-block;
  padding-top: 13px;
}

.rightcontain {
  background-color: #efe5c3;
  outline: 2px solid #a78d2f;
  outline-offset: 5px;
  height: 65%;
  margin: 15px;
  margin-left: 3%;
  margin-top: 17.2%;
}

.dealsmenu {
  background-color: #efe5c3;
  outline: 2px solid #a78d2f;
  outline-offset: 5px;
  height: 7%;
  margin: 15px;
  margin-left: 0px;
  margin-top: 17.2%;
  background-image: url("http://i.imgur.com/7JlWTjS.jpg");
  background-position: center;
  background-size: cover;
}

.conhead {
  background-color: #efe5c3;
  outline: 2px solid #a78d2f;
  outline-offset: 5px;
  height: 40%;
  margin: 15px;
  background-image: url("http://i.imgur.com/WrjpnRK.jpg");
  background-position: center;
  background-size: cover;
}

.menuhead {
  background-color: #efe5c3;
  outline: 2px solid #a78d2f;
  outline-offset: 5px;
  height: 40%;
  margin: 15px;
  background-image: url("http://i.imgur.com/PQLMFWP.jpg");
  background-position: center;
  background-size: cover;
}

.abouthead {
  background-color: #efe5c3;
  outline: 2px solid #a78d2f;
  outline-offset: 5px;
  height: 40%;
  margin: 0px;
  background-image: url("http://i.imgur.com/sBCizve.jpg");
  background-position: center;
  background-size: cover;
}

.cta {
  background-color: #efe5c3;
  outline: 2px solid #a78d2f;
  outline-offset: 5px;
  height: 20%;
  margin: 15px;
  background-image: url("http://i.imgur.com/7JlWTjS.jpg");
  background-position: center;
  background-size: cover;
  margin-bottom: 2%;
  margin-top: 2%;
}

.testimonial {
  background-color: #efe5c3;
  outline: 2px solid #a78d2f;
  outline-offset: 5px;
  height: 10%;
  margin: 15px;
  background-image: url("http://i.imgur.com/7JlWTjS.jpg");
  background-position: center;
  background-size: cover;
}

.testimoniallight {
  background-color: #efe5c3;
  outline: 2px solid #a78d2f;
  outline-offset: 5px;
  height: 10%;
  margin: 15px;
  background-image: url("http://i.imgur.com/dEHQBj0.jpg");
  background-position: center;
  background-size: cover;
}

.offer1 {
  background-color: #efe5c3;
  outline: 2px solid #a78d2f;
  outline-offset: 5px;
  height: 60%;
  margin: 15px;
  background-image: url("http://i.imgur.com/m1uT0fT.jpg");
  background-position: center;
  background-size: cover;
}

.offer2 {
  background-color: #efe5c3;
  outline: 2px solid #a78d2f;
  outline-offset: 5px;
  height: 60%;
  margin: 15px;
  background-image: url("http://i.imgur.com/2wkOQyK.jpg");
  background-position: center;
  background-size: cover;
}

.offer3 {
  background-color: #efe5c3;
  outline: 2px solid #a78d2f;
  outline-offset: 5px;
  height: 60%;
  margin: 15px;
  background-image: url("http://i.imgur.com/mj1j8CK.jpg");
  background-position: center;
  background-size: cover;
}

.offer4 {
  background-color: #efe5c3;
  outline: 2px solid #a78d2f;
  outline-offset: 5px;
  height: 60%;
  margin: 15px;
  background-image: url("http://i.imgur.com/dEHQBj0.jpg");
  background-position: center;
  background-size: cover;
}

.leftcontain {
  background-color: #efe5c3;
  outline: 2px solid #a78d2f;
  outline-offset: 5px;
  height: 75%;
  margin: 15px;
  margin-right: 3%;
  margin-top: 8%;
  background-color: #f4f0e7;
  background-image: url("http://i.imgur.com/7JlWTjS.jpg");
}

.mid {
  background-color: #efe5c3;
  outline: 2px solid #a78d2f;
  outline-offset: 5px;
  height: 35%;
  margin: 15px;
  background-image: url("http://i.imgur.com/uPvQ7D7.jpg");
  background-position: center;
  background-size: cover;
}

.footer {
  margin-top: 15px;
  width: 100%;
  height: 200px;
  position: relative;
  bottom: 0;
  left: 0;
  background-color: #221202;
  text-align: center;
}

.footercontain {
  padding-top: 40px;
}

.center {
  text-align: center;
}

.logo {
  width: 317px;
  height: 125px;
  padding-bottom: 5%;
}

a.footlink {
  color: white;
  text-decoration: none;
  position: relative;
  padding-bottom: 3px;
}

a.footlink:hover {
  color: #efe5c3;
}

a.footlink::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #efe5c3;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

a.footlink:hover::before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.midcon {
  background-color: #efe5c3;
  outline: 2px solid #a78d2f;
  outline-offset: 5px;
  height: 80%;
  margin: 15px;
}

h1.title {
  font-family: "Kaushan Script";
  text-align: center;
}

i.iconfoot {
  padding: 3px;
}

a.iconfoot {
  color: white;
}

a.iconcon {
  color: #222;
}

a.iconcon:hover {
  color: #fff;
}

a.iconfoot:hover {
  color: #221202;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

a.contactmail {
  color: white;
}

a.contactmail:hover {
  color: #402203;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.reservation {
  background-color: #efe5c3;
  outline: 2px solid #a78d2f;
  outline-offset: 5px;
  height: 45%;
  margin: 15px;
}

input.ressub {
  text-align: center;
  margin-left: -4px;
  margin-top: 4px;
}

input.resdate {
  width: 188px;
  margin: 4px;
}

form[name=res] {
  text-align: center;
}

.logomargin {
  margin-top: 5.23%;
}

p.about {
  padding: 10%;
  padding-top: 2%;
}

li.dealpad {
  padding-top: 10px;
}

.contain {
  background-color: #efe5c3;
  outline: 2px solid #a78d2f;
  outline-offset: 5px;
  height: 100%;
  margin: 15px;
  margin-top: 5%;
}

.abouttxt {
  display: none;
}

.ressuccess {
  display: none;
  height: 40px;
  background-color: rgba(59, 32, 2, 0.65);
  text-align: center;
}

p.ressuccess {
  font-size: 28px;
  font-weight: lighter;
  font-family: "Kaushan Script";
  color: white;
}

p.reserror {
  font-size: 26px;
  font-weight: lighter;
}

.navscroll {
  display: none;
  background-color: #efe5c3;
  height: 12%;
  position: sticky;
  margin: 0px;
}

.navmobile {
  height: 50px;
  background-color: #402203;
  display: none;
}

.topmenu {
  background-color: #efe5c3;
  outline: 2px solid #a78d2f;
  outline-offset: 5px;
  height: 300px;
  margin: 15px;
}

.contactcontain1 {
  background-color: #efe5c3;
  outline: 2px solid #a78d2f;
  outline-offset: 5px;
  height: 50%;
  margin: 0px;
  background-image: url("http://i.imgur.com/2wkOQyK.jpg");
  background-position: center;
  background-size: cover;
  margin-top: 2%;
  outline-color: #221202;
}

.contactcontain2 {
  background-color: #efe5c3;
  outline: 2px solid #a78d2f;
  outline-offset: 5px;
  height: 50%;
  margin: 0px;
  margin-top: 2%;
  background-image: url("http://i.imgur.com/mj1j8CK.jpg");
  background-position: center;
  background-size: cover;
  outline-color: #221202;
}

.jordan {
  background-color: #efe5c3;
  outline: 2px solid #a78d2f;
  outline-offset: 5px;
  height: 68%;
  margin: 0px;
  background-color: #f4f0e7;
  outline-color: #f4f0e7;
  margin-top: 2%;
}

.elijah {
  background-color: #efe5c3;
  outline: 2px solid #a78d2f;
  outline-offset: 5px;
  height: 68%;
  margin: 0px;
  background-color: #f4f0e7;
  outline-color: #f4f0e7;
  margin-top: 2%;
}

p.dealstxt {
  text-align: center;
}

.hammenu {
  display: none;
  height: 100%;
  background-color: #402203;
}

@media (max-width: 550px) {
  .leftcontain {
    margin-right: 15px;
  }
}
@media (max-width: 550px) {
  .leftcontain {
    margin-right: 15px;
    overflow: auto;
  }

  .rightcontain {
    margin-left: 15px;
    margin-top: 15px;
    height: 70%;
  }

  .mid {
    height: 320px;
    overflow: auto;
  }

  .mid {
    height: 30px;
  }

  p.deals {
    padding-left: 10px;
  }

  .section3 {
    padding: 3px;
  }

  .footer {
    height: 450px;
  }

  .reservation {
    height: 350px;
  }

  .navmobile {
    display: block;
  }

  .navpar {
    display: none;
  }

  .mainpic {
    height: 830px;
  }

  .mid {
    height: 500px;
  }

  .dealsmenu {
    margin-top: 20px;
    margin-left: 15px;
    height: 100px;
  }

  p.dealstxt {
    margin: 15px;
  }

  .testimonial {
    margin: 15px;
    height: 130px;
  }

  .testimoniallight {
    height: 130px;
    margin: 15px;
  }

  .cta {
    height: 220px;
    margin-bottom: 15px;
  }

  .abouthead {
    margin-right: 15px;
  }

  .aboutbottom {
    margin-right: 15px;
    margin-left: 15px;
  }

  .menuhead {
    height: 400px;
  }
}
@keyframes xfade {
  0% {
    opacity: 1;
  }
  10.5% {
    opacity: 1;
  }
  12.5% {
    opacity: 0;
  }
  98% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*# sourceMappingURL=main.css.map */
